 <div class="">
     <div>
       <ul class="breadcrumb">
        {{#each dirs}}
            {{#if @first}}<a href='#' class="path" data-name=''><i class="fa fa-home" ></i> </a>{{/if}}
           {{#if @last}}
              <li class="active">{{this}}</li>
           {{else}}
            <li><a href="#" data-name='{{this}}' class="path">{{this}}</a></li>
           {{/if}}
          
        {{/each}}
        
        
      
      </ul>
     </div>
     <div style="margin-bottom:20px;">
       <input type="button" value="Create Directory"  class="btn btn-xs btn-warning mkdir"/> &nbsp;&nbsp;
       <span id="fileselector">
       <form id='uplodadfileform' style="display:inline">
        <label class="btn btn-default btn-xs btn-warning" for="upload-file-selector">
            <input id="upload-file-selector" type="file" name='uploadfile' multiple>
            <i class="fa fa-upload"></i> upload file
        </label>
        <input type='hidden' name='dir' value='{{dir}}'/>
        </form>
        </span>
        &nbsp;&nbsp;
        <label class='label label-info' style='color:black'>
          {{size_info.file}} files and {{size_info.dir}} Folders
        </label>
     </div>
     <div style='overflow-x:scroll'>
       
        <table class="table striped" {{#if isMobile}}style='width:800px'{{/if}}>
          <thead>
              <th>Name</th>
              <th>Type</th>
              <th>Size</th>
              <th>Mod Time</th>
              <th>Actions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
            </tr>
          </thead>
          <tbody>
            {{#each ftpdirlist}}
              <tr>
                <td width=''><span><i class="fa {{#when type 'eq' 'Directory'}} fa-folder {{else}} {{#fileIcon name}} {{/fileIcon}} {{/when}} " aria-hidden="true" {{#when type 'eq' 'Directory'}}style='color:#54b2ef' {{/when}}></i></span> &nbsp; 
                  <a href="#" class="list" data-type="{{#when type 'eq' 'Directory'}}folder{{else}} file{{/when}}" data-name='{{name}}'>{{name}}</a>
               
                 </td>
                <td>{{type}}</td>
                <td width='9%'>{{#humanFileSize size}}{{/humanFileSize}}</td>
                <td>{{#formattedDate time}}{{/formattedDate}}</td>
                <td width='25%'>
                
                  <input type='button' class="btn btn-xs action" value="Rename" data-action='rename' data-name='{{name}}'/>

                  {{#when type 'eq' 'File'}}
                    <span><a href='/api/ftp/download?path={{../dir}}&name={{name}}' target='_blank' class="btn btn-xs action" value="Downoad" data-action='download' data-name='{{name}}'>Download </a></span>
                     <span><a href='#' class="btn btn-xs btn-danger delete"   data-name='{{name}}'>Delete </a></span>
                  {{/when}}

                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
     </div>
    

 </div>

 